<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <!--prevcounter prevcounter0-->
    {% for article_image in article.articleimage_set.all %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="bg-dark {% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide 1"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for article_image in article.articleimage_set.all %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{ article_image.image.url }}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>