<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faqs' %}">Вопросы-ответы</a>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="{% url 'create-article' %}">Создать статью</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="{% url 'profile' request.user.username %}">Профиль</a>
                </li>
                {% endif %}

                <!--добавить ссылку с текстом "создать статью" эта ссылка должна быть видна только авторизованным пользователям-->
            </ul>
            <form class="d-flex" role="search"  action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="d-flex ms-3 column-gap-3">
                <!--request.user.is_authenticated - отдает True если пользователь авторизованный -->
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login-page' %}" class="btn btn-success">Авторизация</a>
                <a href="{% url 'registration-page' %}" class="btn btn-warning">Регистрация</a>
                {% else %}
                <a href="{% url 'logout-user' %}" class="btn btn-danger">Выход</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<!--request-->